@import url('https://fonts.googleapis.com/css2?family=Fascinate&family=Kdam+Thmor+Pro&family=Lato:wght@300;400;700&family=Oswald&family=Poppins:wght@400;500;600&family=Roboto:wght@300;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    scroll-padding-top: 32px;
    scroll-behavior: smooth;
    font-family: "Poppins",sans-serif;
 }
 :root{
    --main-color:#fd4646;
    --text-color:#171427;
    --bg-color:#fff;
 }
 .container{
    max-width: 1068px;
    margin: auto;
    width: 100%;   
}
 img{
    width: 100%;
 }
 body{
    color:var(--text-color)
 }
 header{
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    background: var(--bg-color);
    box-shadow: 0 1px 4px #2825251a;
 }
 .nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
 }
 .logo{
    font-size: 35px;
    cursor: pointer;
 }
 .logo,a{
    color: var(--text-color);
 }
 #card-icon{
    font-size: 1.8rem;
    cursor: pointer;
 }
 section{
    padding: 100px 0;
 }
 .section-title{
    text-align: center;
    font-weight: 600;
    font-size: 30px;
 }  
 .shop-content{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(220px,auto));
    gap:30px;
    margin-top: 20px;
 }
 
 /* .product-box{
    position: relative;
 } */
 .product-box:hover{
    transition: 0.4s;
 }
 .product-box img{
    width: 100%;
    height: 150px;
    margin-bottom: 0.5rem;
    object-fit:cover;
 }
 .product-box h2{
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 0.5rem;
 }
 .product-box i{
    cursor: pointer;
 }
 .cart{
    position: fixed;
    background: lavender;
    top:0;
    right: -100%;
    width: 360px;
    min-height: 100vh;
    padding: 20px;
    /* background: var(--bg-color); */
    box-shadow: -2px 0 4px hsl(0 4% 15%/10%);
    transition: 0.4s;
 }
 .cart.active{
    right:0;
 }
 .cart-title{
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
 }
 .cart-box{
    display: grid;
    grid-template-columns: 32% 50% 18%;    
    /* text-align: center; */
    gap:1rem;
    align-items: center;
 }
 .cart-img{
    width: 100px;
    height: 100px;
    object-fit: cover;
    padding:10px;
 }
 .cart-quantity{
    border: 1px solid var(--text-color);
    outline-color: var(--main-color);
    width: 3rem;
    text-align: center;
    font-size: 1rem;
 }
 .total{
    display: flex;
    justify-content: flex-end;
    margin-top: 1.5rem;
    border-top: 1px solid var(--text-color);
 }
 .total-title{
    font-size: 1rem;
    font-weight: 600;
 }
 .total-price{
    margin-left: 0.5rem;
 }
 .btn-buy{
    display: flex;
    margin: 1.5rem auto 0 auto;
    padding: 12px 20px;
    background: var(--main-color);
    color: var(--bg-color);
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
}
.btn-buy:hover{
    background: #171427;
}
#close-cart{
    position: absolute;
    top:1rem;
    right: 0.8rem;
    cursor: pointer;
    font-size: 20px;
}